docker.enabled = true
prepImage = 'lifebitai/preprocess_gwas:latest'
plinkImage = 'alliecreason/plink:1.90'

params {
    container='lifebitai/phewas:latest'
    phenofile = false
    metadata = false
    vcf_file = false
    data = false
    bed = false
    bim = false
    snps = false
    snp_threshold = 0.05
    pheno = false
    pheno_file = false
    pheno_codes = 'doid'
    help = false
    outdir = 'results'
    output_tag= 'results'
}

process {
    container = params.container

    withLabel:file_preprocessing {
        container = prepImage
    }

    withLabel:plink {
        container = plinkImage
    }
}