docker.enabled = true
prepImage = 'lifebitai/preprocess_gwas:latest'
plinkImage = 'alliecreason/plink:1.90'

params {
    container='lifebitai/phewas:latest'
    phenofile = false
    metadata = false
    vcf_file = false
    plink_input = false
    pheno_col = false
    design_mode = false
    continuous_var_aggregation = "log10"
    continuous_var_transformation = "mean"
    data = false
    bed = false
    bim = false
    snps = false
    snp_threshold = 0.05
    pheno = false
    pheno_file = false
    pheno_codes = 'doid'
    help = false
    outdir = 'results'
    output_tag = 'results'
    mapping = false
    post_analysis = false
    gwas_input = false
    gwas_trait_type = false
}

process {
    container = params.container

    withLabel:file_preprocessing {
        container = prepImage
    }

    withLabel:plink {
        container = plinkImage
    }
}

// Profiles

profiles {
    test { includeConfig 'conf/test.config' }
    test_agg_max { includeConfig 'conf/test_agg_max.config'}
    test_agg_mean { includeConfig 'conf/test_agg_mean.config'}
    test_agg_median { includeConfig 'conf/test_agg_median.config'}
    test_agg_min { includeConfig 'conf/test_agg_min.config'}
    test_coloc_binary { includeConfig 'conf/test_coloc_binary.config'}
    test_coloc_quantitative { includeConfig 'conf/test_coloc_quantitative.config'}
    test_tf_log { includeConfig 'conf/test_tf_log.config'}
    test_tf_log10 { includeConfig 'conf/test_tf_log10.config'}
    test_tf_log2 { includeConfig 'conf/test_tf_log2.config'}
    test_tf_zscore { includeConfig 'conf/test_tf_zscore.config'}
    test_binary_mean_log10_case_vs_control_contrast_icd10_coloc_binary { includeConfig 'conf/test_binary_mean_log10_case_vs_control_contrast_icd10_coloc_binary.config' }
}