params {
    container = 'lifebitai/phewas:latest'
    vcf = false
    vcf_file = false
    data = false
    bed = false
    bim = false
    snps = 'https://github.com/PhilPalmer/phewas/raw/master/testdata/no_snps.txt'
    pheno = false
    mapping = 'https://github.com/PhilPalmer/phewas/raw/master/testdata/mappings.csv'
    pheno_codes = 'doid'
    help = false
    outdir = 'results'
}

docker.enabled = true
process.container = params.container