/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */


docker.enabled = true

params  {
    bim = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/sampleA.bim"
    bed = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/sampleA.bed"
    data = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/sampleA.fam"
    input_phenofile = "s3://marcos-lifebit/phewas/cb_binary_pheno.phe"
    input_id_code_count = "s3://marcos-lifebit/phewas/phewas_id_code_count.csv"
    pheno_codes = "icd10"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}