/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_coloc_quantitative
 */

includeConfig 'test.config'

params {
    post_analysis = "coloc"
    gwas_input = "s3://lifebit-featured-datasets/pipelines/biobank-gwas/gwas_summary_qt.csv"
    gwas_trait_type = "quantitative"
}