/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_coloc_binary
 */

includeConfig 'test.config'

params {
    post_analysis = "coloc"
    gwas_input = "https://gist.githubusercontent.com/mcamarad/e98cdd5e69413fb6189ed70405c43ef4/raw/74e0e3b0f1a9c5f95804053b375258da3bfe64cc/gwas_summary_bin.csv"
    gwas_trait_type = "binary"
}