/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test_agg_vcf config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_agg_vcf
 */


docker.enabled = true

params  {

    input_phenofile = "s3://marcos-lifebit/phewas/cb_binary_pheno.phe"
    input_id_code_count = "s3://marcos-lifebit/phewas/phewas_id_code_count.csv"
    agg_vcf_file = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/vcfs.csv"
    pheno_codes = "icd10"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}