/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test_ind_vcf config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_ind_vcf
 */


docker.enabled = true

params  {

    input_phenofile = "s3://lifebit-featured-datasets/pipelines/phewas/100_binary_pheno.phe"
    input_id_code_count = "s3://lifebit-featured-datasets/pipelines/phewas/phewas_id_code_count.csv"
    individual_vcf_file_list = "s3://lifebit-featured-datasets/pipelines/phewas/phewas_vcfs.csv"
    pheno_codes = "icd10"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}