/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_tf_log10
 */

includeConfig 'test.config'

params {
    continuous_var_transformation = 'log10'
}