/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_coloc_binary
 */

includeConfig 'test.config'

params {
    post_analysis = "coloc"
    gwas_input = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/gwas_summary_bin.csv"
    gwas_trait_type = "binary"
}